/**
 * gButtons CSS3 Framework
 *
 * LICENSE
 *
 * This source file is in public domain.
 * For more information see the LICENSE.txt file in this package.
 *
 * DESCRIPTION
 *
 * This is the MINIMAL package of gButtons CSS3 framework.
 * It includes: buttons core, sizes, simple groups, actions highlighting.
 * There is no icons support in minimal package!
 */

@CHARSET "UTF-8";

/* ---+---+---+--- MAIN ---+---+---+--- */

.button {
	white-space: nowrap;
	overflow: visible;
    position: relative;
    display: inline-block;
	outline: none;

    /* IE hacks */
    zoom: 1;
    *display: inline;
}

/* Overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner { border: none; }

/* Primary action */
.button.primary { font-weight: bold; }

/* ---+---+---+--- BUTTON GROUPS ---+---+---+--- */

.button.g-first {
	margin-right: 0;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
}

.button.g-middle {
	margin-left: 0;
	margin-right: 0;
	border-right: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.button.g-last {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
}

/* Set margin before next group in the row */
.button.g-next { margin-left: 15px; }

/* ---+---+---+--- DEFAULT SKIN ---+---+---+--- */

.button {
	color: #333;
	font: 12px/normal sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	margin: 0;
	padding: 0.5em 1em;
	cursor: pointer;

	/* Border */
    border: 1px solid #d4d4d4; /* #cacaca */
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;

	/* Button background */
    background-color: #f6f6f6;
	background-image: linear-gradient(#ffffff, #efefef);
	background-image: -moz-linear-gradient(#ffffff, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
    background-clip: padding-box;
    -moz-background-clip: padding;
	-webkit-background-clip: padding;

	/* Button shadow 
	box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    */
}

.button:hover,
.button:focus,
.button:active {
	color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#599bdc, endColorStr=#3072b3);
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#599bdc, endColorStr=#3072b3);
}

.button:active,
.button.active {
	color: #fff;
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3072b3, endColorStr=#599bdc);
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3072b3, endColorStr=#599bdc);
}

/* Pill */
.button.pill {
    -webkit-border-radius: 50em; 
    -moz-border-radius: 50em; 
    border-radius: 50em; 
}

/* Danger */
.button.danger { color: #900; }

.button.danger:hover,
.button.danger:focus,
.button.danger:active {
	color: #fff;   
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.button.danger:active,
.button.danger.active {   
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

/* ---+---+---+--- SIZES ---+---+---+--- */

.button.tiny { font-size: 9px; padding-bottom: 0.3em; }
.button.small { font-size: 10px; }
.button.little { font-size: 11px; }
.button.medium { font-size: 12px; }
.button.big { font-size: 14px; }
.button.huge { font-size: 16px; }
.button.great { font-size: 18px; }
.button.giant { font-size: 20px; }

.button.small, .button.little, .button.big,
.button.huge, .button.great {
	padding-bottom: 0.4em;
}
