/**
 * gButtons CSS3 Framework
 *
 * LICENSE
 *
 * This source file is in public domain.
 * For more information see the LICENSE.txt file in this package.
 *
 * DESCRIPTION
 *
 * Minimal skin.
 * Features: button sizes, actions highlighting.
 * There is no icons suport.
 */

/* ---+---+---+--- MAIN ---+---+---+--- */

.button {
	color: #333;
	font: 12px/normal sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	margin: 0;
	padding: 0.5em 1em;
	cursor: pointer;

	/* Button background */
    background-color: #f6f6f6;
	background-image: linear-gradient(#ffffff, #efefef);
	background-image: -moz-linear-gradient(#ffffff, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#efefef));
    background-image: -o-linear-gradient(#ffffff, #efefef);
    /* background-clip: padding-box; */
    -o-background-clip: padding-box;
    -moz-background-clip: padding;
	-webkit-background-clip: padding;

	/* Border */
    border: 1px solid #d4d4d4; /* #cacaca */
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;

	/* Hacks for old Safari & Chrome versions */
    display: inline-block;
	overflow: visible;
	white-space: nowrap;
}

.button:hover,
.button:focus,
.button:active {
	color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    background-color: #3072b3;
    background-image: linear-gradient(#599bdc, #3072b3);
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -o-linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
	color: #fff;
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -o-linear-gradient(#3072b3, #599bdc);
}

/* Pill */
.button.pill {
	border-radius: 50em;
	-moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

/* ---+---+---+--- ACTIONS HIGHLIGHTING ---+---+---+--- */

/* Primary action */
.button.primary { font-weight: bold; }

/* Danger action */
.button.danger { color: #900; }

.button.danger:hover,
.button.danger:focus,
.button.danger:active {
	color: #fff;   
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    background-color: #dc5f59;
    background-image: linear-gradient(#dc5f59, #b33630);
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -o-linear-gradient(#dc5f59, #b33630);
}

.button.danger:active,
.button.danger.active {   
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: linear-gradient(#b33630, #dc5f59);
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -o-linear-gradient(#b33630, #dc5f59);
}

/* Safe action */
.button.safe:hover,
.button.safe:focus,
.button.safe:active {
	color: #fff;   
    border-color: #3aa147;
    border-bottom-color: #a0302a;
    background-color: #45bf55;
    background-image: linear-gradient(#86d97b, #42ad4e);
    background-image: -moz-linear-gradient(#86d97b, #42ad4e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#86d97b), to(#42ad4e));
    background-image: -o-linear-gradient(#86d97b, #42ad4e);
}

.button.safe:active,
.button.safe.active {   
    border-color: #338F3F;
    border-bottom-color: #338F3F;
    background-color: #45bf55;
    background-image: linear-gradient(#42ad4e, #86d97b);
    background-image: -moz-linear-gradient(#42ad4e, #86d97b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42ad4e), to(#86d97b));
    background-image: -o-linear-gradient(#42ad4e, #86d97b);
}

/* ---+---+---+--- SIZES ---+---+---+--- */

.button.tiny { font-size: 9px; padding-bottom: 0.3em; }
.button.small { font-size: 10px; }
.button.little { font-size: 11px; }
.button.medium { font-size: 12px; }
.button.big { font-size: 14px; }
.button.huge { font-size: 16px; }
.button.great { font-size: 18px; }
.button.giant { font-size: 20px; }

.button.small, .button.little, .button.big,
.button.huge, .button.great {
	padding-bottom: 0.4em;
}
